.img-container {
  width: 77%;
  /* height: 350px;
  border: 1px solid black; */
  margin: auto;
}
.img-container img {
  max-width: 100%;
  /* height: 100%; */
}
.img-container:hover img {
  box-shadow: 0px 0px 11px 2px rgba(196,196,196,0.4);  
}
.card {
  width: 97%;
  margin: 25px auto;
  padding: 35px 22px;
}
.card-body {
  border: none;
  border-top: 1px solid #C8C8C8;
  border-bottom: 1px solid #C8C8C8;
  border-radius: 0;
}
.title {
  font-family: Gotham-Rounded-Bold;  
  font-size: 17pt;
  color: #1A8EC7;
}
.filter {
  font-size: 12pt;
  font-family: Muli;
}
.filter span {
  transition: all .5s;
}
.filter-title {
  font-size: 12pt;
  font-family: Muli-ExtraBold;
}
.filter-title:hover, .filter:hover, .toggler:hover, .img-indicator:hover {
  cursor: pointer;
}
.active {
  border-bottom: 3px solid #80B747;
  padding-bottom: 4px;
}
.caption {
  font-family: Muli;
  font-size: 12pt;
  margin: 10px 0 25px;
}
.description {
  font-family: Muli;
  font-size: 11pt;
}
.size {
  font-family: Muli-Bold;
  font-size: 11pt;
}
button.btn-primary {
  background-color: #DF3848;
  border: 3px solid #DF3848;
  font-family: Gotham-Rounded-Bold;  
  font-size: 11pt;
}
button.btn-primary:hover {
  background-color: white;
  color: #DF3848;
  border: 3px solid #DF3848;
}
.img-indicator:first-child {
  margin-bottom: 10px;
}
.img-indicator:hover {
  box-shadow: 0px 0px 11px 2px rgba(196,196,196,0.4);    
}

.input-group-text {
  background-color: #1A8EC7;
  color: white;
}
.input-group {
  margin-bottom: 1.5rem !important;
}

@media only screen and (max-width: 576px) {
  .title {
    margin-top: 25px;
  }
  .caption {
    font-size: 11pt;
  }
}