.title {
  font-size: 25pt;
  color: #1A8EC7;
  font-family: Gotham-Rounded-Bold;
}
.icon {
  width: 16px;
}
.period {
  font-size: 17pt;
}
.sub-title {
  font-size: 18pt;
  color: #1A8EC7;
  font-family: Gotham-Rounded-Bold;  
}
.li-container {
  flex-basis: 5.6%;
}
.item {
  margin-bottom: 20px;
}
.custom-ol {
  counter-reset: item;
  font-size: 13pt;
  font-family: Muli;
}
.custom-li {
  counter-increment: item;
  font-family: Gotham-Rounded-Bold;      
}
.custom-li:before {
  content: counter(item);
  background: #F6BD43;
  border-radius: 100%;
  color: white;
  text-align: center;
  padding: 5px 10px;
}
.custom-ol .item:first-of-type .custom-li:before {
  padding: 5px 12px;
}
#other {
  font-size: 17pt;
  color: #1A8EC7;  
  font-family: Muli-Bold;
}
.card-title {
  font-size: 18pt;
  color: #1A8EC7;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-family: Gotham-Rounded-Bold;  
}
#share {
  margin-left: 10px;
  margin-right: 4px;
}
.card {
  color: black;
  font-family: Muli;
  font-size: 11pt;  
}
a:hover {
  text-decoration: none;
}
.description, .date {
  font-size: 13pt;
  font-family: Muli;
}
.card:hover {
  box-shadow: 0px 0px 11px 2px rgba(196,196,196,0.4);
}
.bullet-title {
  font-family: Muli-Bold;
  margin-bottom: 0.5rem;
}
.testong {
  height: 120px;
  text-overflow: ellipsis;
}
.ellipsis-helper::after {
  content: '...';
  float:right;
  /* padding-right: 0.4em; */
}
.sub-item {
  margin-top: 10px;
  margin-bottom: 20px;
}
.sub-li-container {
  flex-basis: 5%;
  padding-right: 0;
  font-family: Gotham-Rounded-Bold;
  color: #1A8EC7;
  font-size: 17pt;
}
.sub-li-item {
  padding-left: 0;
  padding-top: 6px;
}
.img-container {
  max-height: 630px;
  overflow: hidden;
}

@media only screen and (max-width: 576px) {
  .custom-ol {
    justify-content: center;
  }
  #other + .row  .col-12 {
    margin-bottom: 10px;
  }
  #other {
    font-size: 14pt;
  }
  .sub-li-container {
    padding-right: 15px;
  }
  .card-title {
    font-size: 16pt;
    line-height: 1.3;
    margin-top: 5px;
  }
  .card-title + p {
    line-height: 1.45;
  }
  .title {
    font-size: 20pt;
    line-height: 1.3;
  }
  .sub-title {
    font-size: 16pt;
    line-height: 1.3;
  }
}