.description {
  text-align: center;
  font-size: 13pt;
  font-family: Muli;
}
input.form-control, textarea.form-control {
  border: 3px solid #1A8EC7;
  margin: 20px 0;
  border-radius: 10px;
}
input.form-control:focus {
  border: 3px solid #1A8EC7;
}
input.form-control {
  padding: 9px;
}
button.btn-primary {
  background-color: #DF3848;
  border: 3px solid #DF3848;
  font-family: Gotham-Rounded-Bold;  
}
button.btn-primary:hover {
  background-color: white;
  color: #DF3848;
  border: 3px solid #DF3848;
}
.sub-title {
  color: #1A8EC7;
  font-size: 18pt;
  font-family: Gotham-Rounded-Bold;
}
.icon {
  height: 20px;
}
.icon-container {
  text-align: center;
  display: inline-block;
  width: 7%;
}
.text-container {
  display: inline-block;
  margin-left: 15px;
  font-size: 13pt;
  font-family: Muli;
}
.contact {
  margin: 10px 0;
}
.contact-container {
  margin-top: 8px;
}
.contact-address {
  color: black;
}
.contact-address:hover {
  text-decoration: none;
  color: #1A8EC7;
}