#footer {
  margin-top: 30px;
  background-color: #1A8EC7;
  color: white;
  padding: 15px 52px;
  justify-content: space-between;
  font-family: Muli;
}
strong {
  font-family: Muli-Bold;
}
#social-container {
  text-align: right;
}
.img-social {
  width: 40px;
  height: auto;
  margin: 0 5px;
}
.img-social:hover {
  cursor: pointer;
}