@keyframes cloudMove1 {
  0%   {left:-25%;}
  100% {left:100%;}
}
@keyframes cloudMove2 {
  0%   {left:-75%;}
  100% {left:100%;}
}
@keyframes cloudMove3 {
  0%   {left:-25%;}
  100% {left:100%;}
}
@keyframes cloudMove4 {
  0%   {left:-45%;}
  100% {left:100%;}
}

html, body {
  overflow-x: hidden;
  background-color: white;
}

.primary-text {
  color: #1A8FC8;  
}
.fade-primary-text {
  color: #DF3848;
  font-size: 33pt;
  font-family: Gotham-Rounded-Bold;   
}
.bold {
  font-weight: 600;
}
.content-container {
  margin-top: 40px;
}
.flex-column {
  flex-direction: column;
}
.menu-border1 {
  background-color: rgb(59, 151, 202);
  height: 15px;
}
.menu-border2 {
  background-color: rgb(21, 130, 191);
  height: 15px;
}
.main-bg {
  background-color: rgb(26, 143, 200);
  -webkit-clip-path: ellipse(105% 58% at 50% 24%);
  clip-path: ellipse(105% 58% at 50% 24%);
}
.background {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  max-width: 83%;
  margin: auto;
}
.center-text {
  text-align: center
}
.tagline {
  color: white;
  font-family: Muli;
}

#logo {
  margin-top: 25px;
}
#tagline1 {
  margin-top: 30px;
  font-family: Muli-Bold;
}
#welcome-boy-girl {
  margin-top: 30px;
}

/* Halaman 2 */
#miopi-intro-details-container {
  padding: 20px 15px 20px 80px;
}
#miopi-intro-title {
  margin-bottom: 20px;
  font-family: Gotham-Rounded-Bold;
  font-size: 25pt;
}
#miopi-img-container {
  padding: 60px 20px;
}
ul#miopi-intro-details {
  list-style: none;
  padding: 0;
  margin: 0;
}
ul#miopi-intro-details > li:before {
  content: '•';
  color: #1A8FC8;
  padding-right: 0.5em;
}
ul#miopi-intro-details > li {
  padding-left: 1em;
  text-indent: -1em;
  margin-bottom: 15px;
  font-family: Muli;
  font-size: 13pt;
}

#miopi-2050,
#eye-check,
#ideal-range {
  font-weight: 600;
  text-align: center;
  margin: 20px 0px;
}
#miopi-2050-details-1,
#eye-check-details-1,
#ideal-range-details-1 {
  font-size: 25pt;
  font-family: Gotham-Rounded-Bold;
}
#miopi-2050-details-2,
#eye-check-details-2,
#ideal-range-details-2 {
  font-size: 20pt;
  font-family: Gotham-Rounded-Bold;
}
#miopi-2050-details-3, 
#eye-check-details-3,
#ideal-range-details-3 {
  font-size: 13pt;
  font-family: Muli;
  color: #3F3F3F;
}

#miopi-cause1-container {
  padding: 60px 20px;
}
.cause-title {
  font-size: 25pt;
  font-family: Gotham-Rounded-Bold;  
  color: #1A8FC8;  
}
.cause {
  font-size: 18pt;
  font-family: Gotham-Rounded-Bold;
  color: #1A8FC8;    
}
.cause-description {
  font-size: 13pt;
  font-family: Muli;
}

#solve-bg {
  background: url(../images/sky.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
#solve-container {
  padding-top: 20%;  
  overflow: hidden;
}
#solve-details {
  color: white;
  padding-bottom: 120px;
  padding-top: 40px;
}
#solve-details h3 {
  font-size: 25pt;
  font-family: Gotham-Rounded-Bold;
}
#solve-details p {
  font-size: 13pt;
  font-family: Muli;
}
#solve-button {
  background-color: #E03848;
  border-radius: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 13pt;
  font-family: Gotham-Rounded-Bold;
  border: 2px solid #E03848; 
  /* transition: all .5s; */
}
#solve-button:hover {
  background-color: white;
  color: #E03848;
}
.cloud {
  position: absolute;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.cloud1 {
  margin-top: 5%;
  animation-name: cloudMove1;
  animation-duration: 26s;
}
.cloud2 {
  margin-top: 6%;
  animation-name: cloudMove2;
  animation-duration: 34s;
}
.cloud3 {
  margin-top: 8%;
  animation-name: cloudMove3;
  animation-duration: 28s;
}
.cloud4 {
  margin-top: 12%;
  animation-name: cloudMove4;
  animation-duration: 30s;
}

#subscription {
  text-align: center;
  font-family: Muli-Bold;
  font-size: 18pt;
  color: #1A8EC7;
}
#subscription img {
  width: 70px;
}
#subscription button {
  background-color: #1A8EC7;
  border: 3px solid #1A8EC7;
  border-left: none;
  color: white;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: all .5s;
  font-family: Gotham-Rounded-Bold;
}
#subscription button:hover {
  background-color: white;
  color: #1A8EC7;
  border-left: none;
}
#subscription input {
  border: 3px solid #1A8EC7;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

#eye-normal {
  position: absolute;
  background-color: rgb(94, 175, 211);
  color: white;
  font-family: Muli;
  text-align: center;
  top: 20.4%;
  left: 18.3%;
  padding: 5.5% 3.4%;
  opacity: 0;
  transition: opacity .5s;
}
#eye-normal:hover {
  opacity: 1;
}
#eye-miopi {
  position: absolute;
  background-color: rgb(94, 175, 211);
  color: white;
  font-family: Muli;
  text-align: center;
  top: 44.5%;
  left: 18.3%;
  padding: 5.5% 5.8%;
  opacity: 0;
  transition: opacity .5s;
}
#eye-miopi:hover {
  opacity: 1;
}
#eye-board {
  position: absolute;
  background-color: rgb(94, 175, 211);
  color: white;
  font-family: Muli;
  text-align: center;
  top: 29.2%;
  left: 44.5%;
  padding: 6.8% 4.7%;
  opacity: 0;
  transition: opacity .5s;
  -webkit-clip-path: circle(84% at 18.8% 42%);
  clip-path: circle(84% at 18.8% 42%);
}
#eye-board:hover {
  opacity: 1;
}

#bahaya-miopi-boy {
  position: absolute;
  /* bottom:54px;
  left: 78px; */
  bottom: 9%;
  left: 19%;
}
#disease-container {
  position: absolute;
  font-size: 18pt;
  font-family: Gotham-Rounded-Bold;
  top: 125px;
  left: 155px;
  color: #1A8EC7;  
}
.disease-inner-container {
  margin: 5px 0;
}
.disease-inner-container:hover .bullet {
  background-color: #1A8EC7;
}
.bullet {
  display: inline-block;
  border: 2px solid #1A8EC7;
  border-radius: 10px;
  width: 12px;
  height: 12px;
  background-color: white;
  vertical-align: middle;
  transition: background-color .3s;
}
.disease {
  font-size: 14pt;
  display: inline-block;
  color: #1A8EC7;
}
.disease-inner-container:hover {
  cursor: pointer;
}
.disease-title {
  color: #1A8EC7;
  font-size: 25pt;
  font-family: Gotham-Rounded-Bold;  
  line-height: 28pt
}
.disease-description {
  font-size: 13pt;
  font-family: Muli;
}
.disease-detail {
  display: none !important;
  padding-right: 55px;
  padding-left: 50px;
}
.disease-detail b {
  font-family: Muli-Bold;
}
.show {
  display: initial !important;
}
#horse-girl {
  position: absolute;
  bottom: -90px;
  max-width: 110%;
  right: 0;
}

@media only screen and (max-width: 576px) {
  #miopi-2050-details-1,
  #eye-check-details-1,
  #ideal-range-details-1 {
    font-size: 14pt;
  }
  #miopi-2050-details-2,
  #eye-check-details-2,
  #ideal-range-details-2 {
    font-size: 12pt;
  }
  #miopi-cause1-container,
  #miopi-img-container {
    padding: 0px 20px;
  }
}