.activity {
  box-shadow: none;
  transition: all 0.2s ease-in-out;
}
.activity:hover {
  /* transform: translateY(-2px);  */
  box-shadow: 0px 0px 11px 2px rgba(196,196,196,0.4);
  cursor: pointer;   
}
.card-image {
  border: 2px solid #1A8EC7;
  border-radius: 10px;
  width: 100%;
  height: 290px;
  overflow: hidden;
  position: relative;
}
.card-image img {
  position: absolute;
  width: 150%;
  left: -25%;
}
.card-body {
  padding: 30px 60px;
  display: flex;
  flex-direction: column;
}
.card-row {
  display: flex;
  flex-direction: row;
}
.card-title {
  color: #1A8EC7;
  font-size: 18pt;
  font-family: Muli-Bold;
}
.card-detail-container {
  padding-left: 42px;
}
.card-description {
  font-size: 13pt;
  font-family: Muli;
}
.detail-title {
  color: #1A8EC7;  
  font-size: 15pt;
  font-family: Muli-Bold;  
}
.detail-description {
  font-size: 13pt;
  font-family: Muli;  
}
.detail ul > li:before {
  padding-right: 0.5em;
}
.detail ul {
  padding-left: 20px;
}
.detail ul > li {
  color: #1A8FC8;
  padding-left: 0.5em;
  margin-bottom: 5px;
}
.detail ul > li > span {
  color: black;
}
.detail {
  padding-top: 40px;
}
.page-indicator {
  width: 15px;
  height: 15px;
  border-radius: 100%;
  border: 1px solid #1A8EC7;
  display: inline-block;
  margin: 10px;
  transition: background-color 0.5s;
}
.page-indicator:hover {
  cursor: pointer;
}
.active-indicator {
  background-color: #1A8EC7; 
}

#activityCarousel {
  display: flex;
  flex-direction: column;
  transition: all 0.5s;
}

.intro {
  padding: 0 100px !important;
}

@media only screen and (max-width: 576px) {
  .intro {
    padding: 0 !important;
  }
  .card-detail-container {
    padding: 0 5px;
  }
  .card-body {
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .card-row {
    flex-direction: column;
    align-items: center;
  }
  .card-row > .col-11:first-child {
    padding: 0 5px;
  }
  .detail {
    padding-top: 10px;
  }
  .card-image {
    height: 225px;
  }
}