#container {
  margin-top: 80px;
}
#material-banner {
  background-color: #80B747;
  border: 1px solid #80B747;
}
#banner-text-container {
  padding: 30px 0px 30px 80px;
}
#banner-title {
  font-size: 24pt;
  color: white;
  font-family: Gotham-Rounded-Bold;
}
#banner-description {
  color: white;
  font-size: 14pt;
  font-family: Muli;
}
#banner-button {
  background-color: #DF3848;
  border: 3px solid #DF3848;
  padding: 8px;
  border-radius: 10px;
  color: white;
  font-family: Gotham-Rounded-Bold;  
  font-size: 13pt;
  transition: all .5s;
}
#banner-button:hover {
  cursor: pointer;
  background-color: white;
  color: #DF3848;
}
#banner-image {
  position: absolute;
  bottom: 0;
}