html, body {
  overflow-x: hidden;
  background-color: rgba(26, 139, 196, 0.02);
}
.btn:focus, .form-control:focus {
  box-shadow: none;
}

.dropdown-item:hover {
  background-color: #F2FAFC;
}
.ml-auto .dropdown-menu {
  left: auto !important;
  right: 0px;
  margin-top: 0.75rem;
}
.nav-item {
  margin-right: 15px;
  font-family: Gotham-Rounded-Bold;  
}
.dropdown-divider {
  margin: .5rem 10px;
  border-top: 1px solid #C9E5EC;
}

.primary-menu-container {
  background-color: rgb(72, 165, 211);
  padding: 18px 20px;
}
.primary-menu-container .nav-item .nav-link {
  color: white !important;
}
.primary-menu-container .dropdown-menu {
  min-width: 0;
  background-color: white;
  border-color: white;
}
.primary-menu-container .dropdown-item {
  text-align: center;
  font-weight: bold;
  color: rgb(72, 165, 211);
  font-size: 11pt;
}

.secondary-menu-container {
  background-color: white;
  padding: 18px 20px;
  border-bottom: 1px solid #C8C8C8;
  
}
.secondary-menu-container .nav-item .nav-link {
  color: rgb(72, 165, 211) !important;
}
.secondary-menu-container .dropdown-menu {
  min-width: 0;
  background-color: white;
  border-color: rgb(72, 165, 211);
}
.secondary-menu-container .dropdown-item {
  text-align: center;
  font-weight: bold;
  color: rgb(72, 165, 211);
  font-size: 11pt;  
}
.item-active {
  /* color: black !important; */
}
.indicator-active {
  position: absolute;
  bottom: -1px;
  width: 0px;
  height: 5px;
  background-color:#40A2CA;
  left: 50%;
  border-radius: 10px;
  transition: all .5s;
}
.nav-item:hover .indicator-active {
  /* width: 100%; */
  left: 0;
}

.secondary-menu-container .nav-item:hover .nav-link{
  color: rgb(114,115,115) !important;
}
a.dropdown-item:active {
  background-color: white;
}
/* .dropdown-menu:before {
  position: absolute;
  top: -7px;
  left: 9px;
  display: inline-block;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-left: 7px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: '';
} */