.title {
  font-size: 28pt;
  color: #1A8EC7;
  margin: 60px 0;
  font-family: Gotham-Rounded-Bold;
}
.sub-title {
  font-size: 21pt;
  color: #1A8EC7;
  margin-top: 30px;
  margin-bottom: 5px;
  font-family: Gotham-Rounded-Bold;  
}
#jec-link {
  color: #DF3848;
  font-size: 16pt;
  margin-bottom: 15px;
  font-family: Muli-Bold;  
}
.description {
  font-size: 16pt;
  font-family: Muli;
}
#jec {
  width: 25%;
}
.dim {
  color: #C9E5EC;
}