.modal-open {
  padding-right: 0px !important;
}

#interactive-map {
  padding: 20px;
  background-color: #F2FAFC;
}
.place, .place-text {
  position: absolute;
}
.place-text:hover {
  cursor: pointer;
}

#museum {
  width: 24%;
  top: 7%;
  left: 29.8%;
}
#museum-text {
  width: 45%;
  top: 105%;
  left: 33%;
}

#cattleya {
  width: 20%;
  top: 15%;
  left: 5%;
}
#cattleya-text {
  width: 55%; 
  top: 75%;
  left: 55%; 
}

#menteng {
  width: 11%;
  top: 27%;
  left: 58%;
}
#menteng-text {
  width: 100%; 
  top: -45%;
  left: 27%; 
}

#suropati {
  width: 6%;
  top: 26.5%;
  right: 19%;
}
#suropati-text {
  width: 170%; 
  bottom: -120%;
  left: -100%; 
}

#rptra {
  width: 13%;
  top: 39%;
  right: 2.2%;
}
#rptra-text {
  width: 100%; 
  bottom: -130%;
  right: 5%; 
}

#tabebuya {
  width: 23%;
  bottom: 0%;
  left: 40.8%;
}
#tabebuya-text {
  width: 50%; 
  bottom: 30%;
  right: -40%; 
}

#ragunan {
  width: 29%;
  bottom: 19.7%;
  left: 53%;
}
#ragunan-text {
  width: 41%; 
  bottom: 41%;
  right: 31%; 
}

#playparq {
  width: 21.5%;
  bottom: 42.5%;
  right: 32%;
}
#playparq-text {
  width: 45%; 
  bottom: -10%;
  left: -15%; 
}

#layang {
  width: 20%;
  bottom: 25%;
  left: 5%;
}
#layang-text {
  width: 80%; 
  bottom: -40%;
  right: 5%; 
}

.modal-header {
  padding-bottom: 0;
  border: 0;
}
.modal-body {
  padding: 0 50px 16px;
}
.modal-title {
  color: #1A8EC7;
  font-size: 21pt;
  font-family: Gotham-Rounded-Bold;
}
.address {
  font-size: 15pt;
  margin: 0.5rem 0;
  font-family: Muli;
}
.map-button {
  background-color: #80B747;
  border-radius: 10px;
  border: 0;
  padding: 5px 10px;
  margin: 3px 0 20px;
  color: white;
  font-family: Gotham-Rounded-Bold;  
}
.description {
  font-size: 16pt;
  font-family: Muli;  
}
.cell-fit {
  width: 1%;
  white-space: nowrap;
}
.table {
  font-size: 15pt;
  font-family: Muli;
}
.modal-lg {
  max-width: 700px;
}
th {
  font-family: Gotham-Rounded-Bold; 
}